@import "_config.scss";

/* -- GLOBAL -- */

/* FONT */
@font-face {
	font-family: 'BebasNeue-Book';
	src: url('../fonts/BebasNeue Book.otf');
}

@font-face {
	font-family: 'BebasNeue-Bold';
	src: url('../fonts/BebasNeue Bold.otf');
}


@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}
/* END FONT */

body {
	font-family: 'OpenSans-Regular';

  section {
  	padding: 50px 10% 90px 10%;
  }

	#accueil,
	#services{
		background-color: $blue-color;
		color: $grey-color;
	}

	#presentation{
		background-color: $black-color;
		color: $grey-color;
	}

	#equipe{
		background-color: $grey-color;
		color: $black-color;

		h1 {
			color: $black-color;
		}
	}

  h1, h2 {
  	font-family: 'BebasNeue-Book';
  	text-align: center;
		color: #fff;
  }

  h1 {
  	font-size: 80px;
		margin-bottom: 50px;
  }

  h2 {
  	font-size: 40px;
  }

  h1 b, h2 b {
  	font-family: 'BebasNeue-Bold';
  	font-weight: normal;
  }

  a {
  	text-decoration: underline;
  	color: #fff;
  }

  a:focus {
  	outline: none;
  }
}

/* -- END GLOBAL -- */

/* -- INDEX -- */

/* HEADER */
.accueil {
	text-align: center;
	width:100%;
	min-height: 100%;
	height: 80%;

  .mockupDD {
  	display: inline-block;
  	margin: auto;
  	width: 100%;
  	height: auto;
  }

  .mockupDD img {
  	width: 100%;
  }

  @media all {
      .accueil {
          width: 100%;
      }
  }

  @media only screen and (min-width: 1025px) { /*<<<large*/
  	#pc { display: block; max-width: 66%;}
  	#tab { display: none; }
  	#tel { display: none; }
  }

  @media only screen and (min-width: 480px) and (max-width: 1024px) { /*<<<medium*/
  	#pc { display: none; }
  	#tab { display: block; }
  	#tel { display: none; }
  }

  @media only screen and (max-width: 479px) { /*<<<small*/
  	#pc { display: none; }
  	#tab { display: none; }
  	#tel { display: block; }
  }
}
/* END HEADER */

/* PRESENTATION */
.txtcenter {
	text-align:center;
}

#presentation img {
	width: 100%;
}

#presentation p {
	width: 100%;
}

.centreVerticalement {
	display: flex;
	align-items: center;
}
/* END PRESENTATION */

/* SERVICES PROPOSES */
.imgServices {
	height: 26%;
}

.txtServices {
	height: 11%;
	margin-top: 0px;
}

#services div {
	text-align: center;
}
/* END SERVICES PROPOSES */

/* L'EQUIPE */
.imgTrombi img{
  width: 100%;
}
/* END L'EQUIPE */
/* -- END INDEX -- */

/* -- PROJETS */
/* SLIDESHOW */
.gallery-cell {
  width: 100%; /* full width */
  height: 760px; /* height of gallery */
  margin-right: 10px;
  text-align :center;
}
/* +12 of difference */

/* Helper classes */

.lockscroll {
	position: fixed;
	overflow-y: scroll;
	height: 100vh;
}

.noscroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
}

.noscroll .deco--expander {
	display: none;
}

.scrollable {
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #fff;
}

.scrollable .slide__content-scroller {
	position: relative;
}

@media screen and (max-width: 50em) {
	.deco--title {
		right: -50px;
		left: -50px;
	}
	.deco--circle,
	.slide__inner {
		width: 260px;
		height: 260px;
	}
	.deco--expander {
		margin: -130px 0 0 -130px;
	}
	.deco--circle-left {
		right: calc(100% - 50px);
	}
	.deco--circle-right {
		left: calc(100% - 50px);
	}
	.slideshow {
		margin-top: 0;
	}
	.action--open {
		margin: 0 12px 12px 0;
	}
	.slide__content-scroller {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}
	.slide__img--large {
		margin: 0 auto 2em;
	}
	.slide__title--preview,
	.slide__title--main {
		font-size: 0.85em;
	}
	.slide__description {
		font-size: 0.5em;
	}
	.navbutton--next {
		-webkit-transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
		transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
	}
	.navbutton--prev {
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
		transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
	}
}
/* END SLIDESHOW */

/* REALISATIONS */

.gallery-cell {
	img {
		height: 100%;
	}
}

#divRea{
	background-color: $grey-color;

	h1 {
		color: $black-color;
	}

	p {
		text-align: center;
	}
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1400px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	min-height: 360px;
	width: 31%;
	height: auto;
	background: #333;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-sarah {
	background: $blue-color;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
	text-align: left;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.modal-header {
	h3 {
		font-family: 'BebasNeue-Book', Arial;
		border-bottom: 3px solid $blue-color;

		.sous-titre {
			font-size: 18px;
			color: lighten($black-color, 50%);
		}
	}
}

.modal-body {
	img {
		width: 100%;
	}
}

.modal-footer {
	> div {
		border-top: 2px solid $blue-color;
		padding-top: 8px;
		text-align: left;
	}

	.membres {
		text-align: right;
		float: right;

		a {
			width: 30px;
			display: inline-block;

			img {
				border-radius: 100%;
				width: 100%;
			}
		}
	}
}
/* END REALISATIONS */

/* -- END PROJETS */

/* -- PROMOTIONS -- */
section#promotions {
	div {
		text-align: center;
	}
	img {
		max-width: 800px;
		width: 90%;
	}
	.membres {
		float: none;
	}
}
/* -- END PROMOTIONS -- */

/* -- CONTACT -- */
.fond{
  background-color: $blue-color;
  color: white;
}
.centre{
  text-align: center;
}

.form-group>label{
  font-weight: normal;
}

input.form-control, textarea.form-control{
  border-radius: 0px;
}

button.center-block{
  border-radius: 0px;
  padding-left: 50px;
  padding-right: 50px;
}
/* -- END CONTACT -- */

/* -- TUTO -- */
section#tutos{
	.inner{
		background-color: #fff;
		padding: 5px 0 20px 0;
		h2{
			color: $blue-color;
		}
		.description{
			padding: 10px;
		}
	}
}

.membres {
	text-align: right;
	float: right;

	a {
		width: 30px;
		display: inline-block;
		img {
			border-radius: 100%;
			width: 100%;
		}
	}
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
	text-decoration: none;
	li {
	  float: left;
		text-decoration: none;
	}
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
	text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
	text-decoration: none;
}

.tag::after {
	text-decoration: none;
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	background-color: $blue-color;
	color: white;
	text-decoration: none;
}

.tag:hover::after {
	text-decoration: none;
	border-left-color: $blue-color;
}

/* -- END TUTO -- */
